# set to ignore uneusefull ISE files

*.html
*.bld
*.cmd_log
*.ncd
*.ngc
*.ngd
*.lso
*.map
*.mrp
*.ngm
*.xrpt
*.ngr
*.pad
*.csv
*.txt
*.ptwx
*.stx
*.xml
*.syr
*.twr
*.unroutes
*.xpi
*.xst
*.xrpt
*.gise
*.par
*.pcf
*.prj
*.twx
*.fdo
*.udo
*.wlf
*.bak
*.asy
*.sym
transcript
work
iseconfig
_ngo
xst
xlnx_auto*
_xmsgs
*~

old/
